@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  align-items: center;
  background: linear-gradient(45deg, #ffffff 3%,#e67d05 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
}

.titulo{
  text-align: center;
  color: #ffffff;
}

h1 {
  font-size: 76px;
}

p{
  font-size: 22px;
}

.piano{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: #000000;
  width: 750px;
  height: 320px;
  padding: 15px;
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.25);
  border-radius: 40px;
}


.tecla {
  background-color: #ffffff;
  border-radius: 20px;
  color: #000000;
  cursor: pointer;
  height: 220px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 85px;
  margin-top: 80px;
}

.tecla.ativa,
.tecla:active {
  background-color: #bdbdbd;
  border: 4px solid  #000000;
  box-shadow: 3px 3px 0 #424242 inset;
  color: #ffffff;
  outline: none;
}


@media screen and (min-width:320px){
  .piano{
    width: 300px;
    height: 110px;
    padding: 10px;
    border-radius: 15px;
  }

  .tecla {
    border-radius: 10px;
    height: 70px;
    font-size: 13px;
    line-height: 10px;
    width: 30px;
    margin-top: 25px;
  }

  h1 {
    font-size: 50px;
  }
  
  p{
    font-size: 18px;
  }
  
}